<form
  nz-form
  [formGroup]="validateForm"
  class="login-form"
  (ngSubmit)="onSubmitForm()"
>
  <nz-form-item>
    <nz-form-control nzErrorTip="Please input your name!">
      <input type="text" nz-input formControlName="name" placeholder="Name" />
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-control nzErrorTip="Please input your Source!">
      <input nz-input formControlName="source" placeholder="Source" />
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-control nzErrorTip="Please input your Destination!">
      <input nz-input formControlName="destination" placeholder="Destination" />
    </nz-form-control>
  </nz-form-item>
  <div style="display: flex">
    <nz-form-item>
      <nz-switch formControlName="showProgressInLogs"></nz-switch
      ><span class="switch-label">Progress In Logs</span>
    </nz-form-item>
    <nz-form-item style="margin-left: 10px">
      <nz-switch formControlName="disable"></nz-switch
      ><span class="switch-label">Disable</span>
    </nz-form-item>
  </div>
  <div nz-row [nzGutter]="[16, 16]">
    <div nz-col [nzSpan]="span">
      <nz-list nzBordered>
        <nz-list-header>Included Files only</nz-list-header>
        <nz-list-item
          *ngFor="let item of copyPath()?.includeFilesOnly ?? []; let i = index"
        >
          {{ item }}
          <ul nz-list-item-actions>
            <nz-list-item-action
              ><a (click)="onRemoveIncludedFiles(i)"
                >remove</a
              ></nz-list-item-action
            >
          </ul>
        </nz-list-item>
        <nz-list-footer
          ><a nz-button (click)="openIncludeFileModal()"
            >Add Include File</a
          ></nz-list-footer
        >
      </nz-list>
    </div>
    <div nz-col [nzSpan]="span">
      <nz-list nzBordered>
        <nz-list-header>Excluded Directories</nz-list-header>
        <nz-list-item
          *ngFor="let item of copyPath()?.excludeDirectories; let i = index"
        >
          {{ item }}
          <ul nz-list-item-actions>
            <nz-list-item-action
              ><a (click)="onRemoveExcludedDirectories(i)"
                >remove</a
              ></nz-list-item-action
            >
          </ul>
        </nz-list-item>
        <nz-list-footer
          ><a nz-button (click)="openExcludeDirectoriesModal()"
            >Add Excluded Directories</a
          ></nz-list-footer
        >
      </nz-list>
    </div>
    <div nz-col [nzSpan]="span">
      <nz-list nzBordered>
        <nz-list-header>Excluded Files</nz-list-header>
        <nz-list-item
          *ngFor="let item of copyPath()?.excludeFiles; let i = index"
        >
          {{ item }}
          <ul nz-list-item-actions>
            <nz-list-item-action
              ><a (click)="onRemoveExcludedFiles(i)"
                >remove</a
              ></nz-list-item-action
            >
          </ul>
        </nz-list-item>
        <nz-list-footer
          ><a nz-button (click)="openExcludeFilesModal()"
            >Add Excluded File</a
          ></nz-list-footer
        >
      </nz-list>
    </div>
    <div nz-col [nzSpan]="span">
      <nz-list nzBordered>
        <nz-list-header>Active Days of Week</nz-list-header>
        <nz-list-item
          *ngFor="let item of copyPath()?.activeDaysOfWeek; let i = index"
        >
          {{ item }}
          <ul nz-list-item-actions>
            <nz-list-item-action
              ><a (click)="onRemoveActiveDaysOfWeek(i)"
                >remove</a
              ></nz-list-item-action
            >
          </ul>
        </nz-list-item>
        <nz-list-footer
          ><a nz-button (click)="openActiveDaysOfWeekModal()"
            >Add Active Days of Week</a
          ></nz-list-footer
        >
      </nz-list>
    </div>
  </div>

  <nz-form-item class="form-action">
    <button nz-button class="" [nzType]="'primary'">Edit</button>
  </nz-form-item>
</form>
