<form
  nz-form
  [formGroup]="validateForm"
  class="login-form"
  (ngSubmit)="onSubmitForm()"
>
  <nz-form-item>
    <nz-form-control nzErrorTip="Please input your name!">
      <input
        type="text"
        nz-input
        formControlName="name"
        placeholder="Name"
      />
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-control nzErrorTip="Please input your Source!">
      <input nz-input formControlName="source" placeholder="Source" />
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-control nzErrorTip="Please input your Destination!">
      <input nz-input formControlName="destination" placeholder="Destination" />
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-list nzBordered>
      <nz-list-header>Included Files only</nz-list-header>
      <nz-list-item *ngFor="let item of copyPath?.includeFilesOnly, let i = index">
        {{ item }}
        <ul nz-list-item-actions>
          <nz-list-item-action><a (click)="onRemoveIncludedFiles(i)">remove</a></nz-list-item-action>
        </ul>
      </nz-list-item>
      <nz-list-footer><button nz-button (click)="addIncludeFile()">Add Include File</button></nz-list-footer>
    </nz-list>
  </nz-form-item>
  <nz-form-item>
    <nz-list nzBordered>
      <nz-list-header>Excluded Directories</nz-list-header>
      <nz-list-item *ngFor="let item of copyPath?.excludeDirectories">
        {{ item }}
      </nz-list-item>
      <nz-list-footer><button nz-button (click)="addExcludeDirectories()">Add Excluded Directories</button></nz-list-footer>
    </nz-list>
  </nz-form-item>
  <nz-form-item>
    <nz-list nzBordered>
      <nz-list-header>Excluded Files</nz-list-header>
      <nz-list-item *ngFor="let item of copyPath?.excludeFiles; let i = index">
        {{ item }}
        <ul nz-list-item-actions>
          <nz-list-item-action><a (click)="onRemoveExcludedFiles(i)">remove</a></nz-list-item-action>
        </ul>
      </nz-list-item>
      <nz-list-footer><button nz-button (click)="addExcludeFiles()">Add Excluded File</button></nz-list-footer>
    </nz-list>
  </nz-form-item>
  <button
    nz-button
    class="login-form-button login-form-margin"
    [nzType]="'primary'"
  >
    Add
  </button>
</form>
<app-add-copy-path-add-included-files-only [isVisible] = "showAddIncludeFileModal" (ok)="onOkAddIncludeFileModal($event)" (hide) = "onHideAddIncludeFileModal()"></app-add-copy-path-add-included-files-only>
<app-add-copy-path-add-excluded-files-modal [show] = "showAddExcludedFileModal" (ok)="onOkAddExcludedFileModal($event)" (hide) = "onHideAddExcludedFileModal()"></app-add-copy-path-add-excluded-files-modal>
