<form
  nz-form
  [formGroup]="validateForm"
  class="login-form"
  (ngSubmit)="onSubmitForm()"
>
  <nz-form-item>
    <nz-form-control nzErrorTip="Please input your name!">
      <input type="text" nz-input formControlName="name" placeholder="Name" />
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-control nzErrorTip="Please input your Source!">
      <input nz-input formControlName="source" placeholder="Source" />
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-control nzErrorTip="Please input your Destination!">
      <input nz-input formControlName="destination" placeholder="Destination" />
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-list nzBordered>
      <nz-list-header>Included Files only</nz-list-header>
      <nz-list-item
        *ngFor="let item of copyPath?.includeFilesOnly; let i = index"
      >
        {{ item }}
        <ul nz-list-item-actions>
          <nz-list-item-action
            ><a (click)="onRemoveIncludedFiles(i)"
              >remove</a
            ></nz-list-item-action
          >
        </ul>
      </nz-list-item>
      <nz-list-footer
        ><a nz-button (click)="addIncludeFile()"
          >Add Include File</a
        ></nz-list-footer
      >
    </nz-list>
  </nz-form-item>
  <nz-form-item>
    <nz-list nzBordered>
      <nz-list-header>Excluded Directories</nz-list-header>
      <nz-list-item
        *ngFor="let item of copyPath?.excludeDirectories; let i = index"
      >
        {{ item }}
        <ul nz-list-item-actions>
          <nz-list-item-action
            ><a (click)="onRemoveExcludedDirectories(i)"
              >remove</a
            ></nz-list-item-action
          >
        </ul>
      </nz-list-item>
      <nz-list-footer
        ><a nz-button (click)="addExcludeDirectories()"
          >Add Excluded Directories</a
        ></nz-list-footer
      >
    </nz-list>
  </nz-form-item>
  <nz-form-item>
    <nz-list nzBordered>
      <nz-list-header>Excluded Files</nz-list-header>
      <nz-list-item *ngFor="let item of copyPath?.excludeFiles; let i = index">
        {{ item }}
        <ul nz-list-item-actions>
          <nz-list-item-action
            ><a (click)="onRemoveExcludedFiles(i)"
              >remove</a
            ></nz-list-item-action
          >
        </ul>
      </nz-list-item>
      <nz-list-footer
        ><a nz-button (click)="addExcludeFiles()"
          >Add Excluded File</a
        ></nz-list-footer
      >
    </nz-list>
  </nz-form-item>
  <nz-form-item>
    <nz-list nzBordered>
      <nz-list-header>Active Days of Week</nz-list-header>
      <nz-list-item
        *ngFor="let item of copyPath?.activeDaysOfWeek; let i = index"
      >
        {{ item }}
        <ul nz-list-item-actions>
          <nz-list-item-action
            ><a (click)="onRemoveActiveDaysOfWeek(i)"
              >remove</a
            ></nz-list-item-action
          >
        </ul>
      </nz-list-item>
      <nz-list-footer
        ><a nz-button (click)="addActiveDaysOfWeek()"
          >Add Active Days of Week</a
        ></nz-list-footer
      >
    </nz-list>
  </nz-form-item>
  <nz-form-item class="form-action">
    <button
      nz-button
      class="login-form-button login-form-margin"
      [nzType]="'primary'"
    >
      Add
    </button>
  </nz-form-item>
</form>
<app-excluded-directories-modal
  [show]="showAddExcludedDirectoryModal"
  (ok)="onOkAddExcludedDiretoryModal($event)"
  (hide)="onHideAddExcludedDiretoryModal()"
></app-excluded-directories-modal>
<app-active-days-of-week-modal
  [show]="showAddActiveDaysOfWeekModal"
  (ok)="onOkAddActiveDaysOfWeekModal($event)"
  (hide)="onHideAddActiveDaysOfWeekModal()"
></app-active-days-of-week-modal>
